<p id="notice"><%= notice %></p>

<h1>Leaderboards</h1>

<table class ="table">
  <thead class="thead-inverse">
    <tr>
      <th><h3>Rank Division</h3></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leaderboards.each do |leaderboard| %>
      <tr>
        <td><h4><%= leaderboard.rankDivision %></h4></td>
        <td><h4><%= link_to 'View Standings', leaderboard %></h4></td>
     
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if admin?%>
	<%= link_to 'New Leaderboard', new_leaderboard_path %>
<% end%>