<h1>Welcome to Eddy's Game Forum! </h1>
<div id = "main">
 <td><%= image_tag('background2.jpg', :alt => "Could not find image", :size=>"1280x550") %>
	<h3><p>New User? <%=link_to"Sign up now!", new_user_path%>
	<p>Already Signed up? <%=link_to"Login!", login_path%></h3>
	</p>
</div>

